@import '/src/styles/vars';


.instagram{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.instagram__logo{
  width: 44px;
  height: 44px;
  margin-bottom: 20px;
}
.instagram__title{
  color: $gray;
  font-size: $titlesSize;
  font-weight: normal;
  margin-bottom: 20px;
}
.instagram__link{
  color: $black;
  text-decoration: none;
  line-height: 28px;
  font-family: $openSans;
  font-weight: normal;
  font-size: $btnSize;
  margin-bottom: 20px;
}
.instagram__items{
  display: grid;
  grid-gap: 50px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  img{
    cursor: pointer;
    transition: .1s linear;
    &:hover{
      transform: scale(102%);
    }
  }
}
.instagram__btn{
  padding: 14px  52px ;
  text-align: center;
  color: $white;
  text-decoration: none;
  background-color: $gray;
  font-size: $btnSize;
  margin: 50px 0;
  font-weight: normal;
  transition: .1s linear;
  letter-spacing: 2px;
  &:hover{
    background-color: darken($gray, 10% );
  }
}
.line{
  width: 100%;
  height: 2px;
  background-color: $gray;
}

@media (max-width: 1280px) {
  .instagram__items{
    grid-gap: 45px;
    img{
      width: 320px;
      height: 320px;
    }
  }
}
@media (max-width: 1080px) {
  .instagram__items{
    grid-gap: 40px;
    img{
      width: 280px;
      height: 280px;
    }
  }
}
@media (max-width: 1000px) {
  .instagram__items{
    grid-gap: 30px;
    img{
      width: 260px;
      height: 260px;
    }
  }
}
@media (max-width: 850px) {
  .instagram__items{
    grid-gap: 20px;
    img{
      width: 240px;
      height: 240px;
    }
  }
}
@media (max-width: 750px) {
  .instagram__items{
    img{
      width: 200px;
      height: 200px;
    }
  }
}
@media (max-width: 650px) {
  .instagram__items{
    grid-gap: 18px;
    img{
      width: 160px;
      height: 160px;
    }
  }
}
@media (max-width: 550px) {
  .instagram__items{
    grid-gap: 18px;
    img{
      width: 140px;
      height: 140px;
    }

  }
  .instagram__btn{
    padding: 12px 22px;
  }
}
@media (max-width: 470px) {
  .instagram__items{
    grid-gap: 16px;
    img{
      width: 120px;
      height: 120px;
    }

  }
}
@media (max-width: 375px){
  .instagram__items{
    grid-gap: 16px;
    img{
      width: 100px;
      height: 100px;
    }
  }
  .instagram__btn{
    padding: 12px 19px;
  }
}